<div class="login w-50 mx-auto">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-5">
        <mat-form-field appearance="outline" [style.width.%]="100">
          <mat-label>Username</mat-label>
          <input matInput name="username" required formControlName="username" />
        </mat-form-field>
        <mat-form-field appearance="outline" [style.width.%]="100">
          <mat-label>Password</mat-label>
          <input matInput name="password" required formControlName="password" />
        </mat-form-field>
        <mat-form-field appearance="outline" [style.width.%]="100">
          <mat-label>Confirm Password</mat-label>
          <input matInput name="confirmPassword" required formControlName="confirmPassword" />
        </mat-form-field>
        <div>
            <button mat-raised-button color="accent" type="submit" *ngIf="!loading">Register</button>
            <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
        </div>
      </form>
</div>