<div class="login w-50 mx-auto">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-5">
        <mat-form-field appearance="outline" [style.width.%]="100">
          <mat-label>Username</mat-label>
          <input matInput name="username" required formControlName="username" />
        </mat-form-field>
        <mat-form-field appearance="outline" [style.width.%]="100">
          <mat-label>Password</mat-label>
          <input matInput name="password" required formControlName="password" />
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Login</button>
        <!-- <div class="mt-2">
        </div> -->
      </form>
</div>