<div class="bank-item m-3 p-3 position-relative" (click)="update()">
    <div class="position-absolute" style="top: 2px; right: 2px;">
        <button class="text-danger pure-btn" (click)="deleteB($event)">Delete</button>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <h2>{{bank.name}}</h2>
        <h4>{{bank.balance}}</h4>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <small class="fw-bold text-success">Last income: <span timeago [date]="bank.last_income_date" *ngIf="bank.last_income_date"></span></small>
        <small class="fw-bold">+ {{bank.last_income}}</small>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <small class="fw-bold text-danger">Last expense: <span timeago [date]="bank.last_expense_date" *ngIf="bank.last_expense_date"></span></small>
        <small class="fw-bold">- {{bank.last_expense}}</small>
    </div>
</div>